/node_modules
/public/hot
/public/storage
/public/css/app.css
/public/js/app.js
/public/js/map.js
/public/js/home.js
/public/js/answerQuestion.js
/public/js/questions.js
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
