.m-map--container {
    display: flex;
    height: 400px;

    &__map {
        flex: 1;
        height: 100%;
        max-width: 1000px;
    }

    &__selections {
        width: 300px;
        height: 100%;
        overflow-y: auto;
    }
}