.m-municipality {
    color: #5e5e5e;

    &__head {
        margin-bottom: 20px;
    }

    &__grid {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr;
        
        @media only screen and (max-width: $large)  {
            grid-template-columns: 1fr;
        }
    
        &__grid--item {
            

            &__header {
                display: flex;
                align-items: center;

                h1 {
                    flex: 1;
                    margin: 0;
                }

                h2 {
                    flex: 1;
                    margin: 0;
                    font-size: 21px;
                }
            }
        }
    }

    &__table {
        tbody > tr td {
            font-size: 15px;
            font-weight: normal;
            padding: 5px 10px 5px 10px;
        }

        .m-table__edit a {
            height: 30px;
            padding-top: 3px;

            i {
                font-size: 14px;
            }
        }
    }
}