// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import './layout/index.scss';
@import './module/index.scss';

html,
body {
   margin:0;
   padding:0;
   height:100%;
}

.app {
    min-height:100%;
    padding-bottom:330px;
    display: flex;
    flex-direction: column;
    position: relative;

    @media only screen and (max-width: $mobile)  {
        padding-bottom: 450px;
    }
}

.content-container {
    flex: 1;
    position: relative;
}